# Terraform state files and backups
*.tfstate
*.tfstate.*
*.terraform
*.tfplan
*.tfplan.*
.terraform/
.terraform.lock.hcl

# Local build artifacts
.build/
__pycache__/
*.pyc
*.zip

# Local environment files
.env
.env.*
*.env
